body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.description {
    position: absolute;
    bottom:10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Arial';
    z-index: 20;
}
